* {
    margin: 0;
    pad: 0;
    box-sizing: border-box;
}
body {
    font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
}
/* inizio header  */
header {
    position: relative;
    width: 100%;
    height: 450px;
    margin: 0 auto;
    background-image: url("../img/jumbo.png");
    background-size: cover;
    background-position: center;
    color: white;
}
.menu-container{
    position: fixed;
    width: 90%;
    
    height: 80px;
    margin: 0 auto;
}
nav {
   width: 100%;
   height: 100%;
   line-height: 80px;
    margin: 0 auto;
}
ul {
    position: relative;
    width: 100%;
}
li {
    /* position: absolute; */
    display: inline-block;
    
}
.menu-container .button ul li:hover {
    text-decoration: underline;
}

a {
    color: white;
    text-decoration: none;
    padding: 0 10px;

}
.bottone {
    width: auto;
   background-color: white;
   color: black;
   padding: 10px 15px;
   border-radius: 20px;
   margin-top: 40px;
   margin-left: 10px;
   margin-right: 10px;
   font-size: 20px;
}
#contenitore-bottoni {
    width: auto;
    height: 50px;
}

.bottone a {
    color: black;
}
#bottone-black a {
    color: white;
}
#bottone-black {
    background-color: black;
}
.menu-container .button ul li:first-child {
    margin-right: 50px;
}
.menu-container .button ul li:last-child {
    margin-left: 50px;
}
/* inizio banner  */
.banner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 60%;
    margin: 0 auto;
}
h1 {
    font-size: 40px;
    margin-bottom: 20px;
}
#testo-banner {
    margin-bottom: 30px;
}
/* fine banner  */

/* inizio main  */
main {
    width: 100%;
    /* height: 300px; */
    margin: 0 auto;
    background-color: red;
}
section {
    width: 100%;
    height: 300px;
    border: 1px solid black;
}
/* inizio footer  */
footer {
    width: 100%;
    height: 200px;
    margin: 0 auto;
    background-color: yellow;
}