* {
    margin: 0;
    pad: 0;
    box-sizing: border-box;
}
body {
    font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
 
}
.clearfix {
    content: "";
    display: table;
    clear: both;
}
.float-sx {
    float: left;
}
.float-dx {
    float: right;
}
/* inizio header  */
header {
    position: relative;
    width: 100%;
    height: 450px;
    margin: 0 auto;
    background-image: url("../img/jumbo.png");
    background-size: cover;
    background-position: center;
    color: white;
}
.menu-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    text-align: center;
    background-color: rgba(102, 129, 235, 0.5);
    z-index: 999;
}
nav {
    width: 100%;
    height: 100%;
    line-height: 80px;
    margin: 0 auto;
}
.button ul {
    /* position: relative; */
    width: 100%;
}
.button li {
    display: inline-block;
}
.menu-container .button ul li:hover {
    text-decoration: underline;
}

a {
    color: white;
    text-decoration: none;
    padding: 0 10px;

}
.bottone {
   width: auto;
   background-color: white;
   color: black;
   padding: 10px 15px;
   border-radius: 20px;
   margin-top: 40px;
   margin-left: 10px;
   margin-right: 10px;
   font-size: 20px;
}
#contenitore-bottoni {
    width: 100%;
    height: 50px;
}

.bottone a {
    color: black;
}
#bottone-black a {
    color: white;
}
#bottone-black {
    background-color: black;
}
.menu-container .button ul li:first-child {
    margin-right: 50px;
}
.menu-container .button ul li:last-child {
    margin-left: 50px;
}
/* inizio banner  */
.banner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 60%;
    margin: 0 auto;
}
h1 {
    font-size: 40px;
    margin-bottom: 20px;
}
#testo-banner {
    margin-bottom: 30px;
}
/* fine banner  */

/* inizio main  */

main {
    width: 80%;
    /* height: 300px; */
    margin: 0 auto; 
}
#sezione1, #sezione2, #sezione3, #sezione4{
    width: 100%;
    margin-top: 60px;
}
.immagine-testo {
    width: 100%;
}
.immagine-sezione {
    float: left;
    vertical-align: middle;

}
.testo-sezione {
   width: 300px;
   float: left;
   padding-top: 50px;
   vertical-align: middle;
}
h2 {
    font-size: 35px;
    padding-bottom: 30px;
}
#sezione2 .immagine-testo .immagine-sezione {
    float: right;
}
#sezione2 .immagine-testo .testo-sezione {
    float: right;
}
#sezione4 .immagine-testo .immagine-sezione {
    float: none;
}
#box-verticale {
    width: 100%;  
}
#box-verticale h2, #box-verticale p {
    text-align: center;
    padding: 20px 60px;
}
#sezione4 .immagine-sezione {
    width: 90%;
    margin: 0 auto;
}
/* fine main  */

/* inizio footer  */
footer {
    width: 100%;
    height: 200px;
    margin: 0 auto;
 
    color: white;
}
.conenitore-centrale-foot {
    width: 100%;
    
}
.contenitore-top-foot {
    
    width: 80%;
    margin: 60px auto;

}
.stelle {
    width: 50%;
    margin: 0 auto;
    background-image: url(../img/stars.svg);
    background-repeat: no-repeat;
   
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.stelle h3 {
    color: black;
}
.box-bot-foot {
    
    width: 50%;
    height: 70px;
    margin: 0px auto;
    text-align: center;
}
.box-bot-foot .bottone {
    margin: 0 auto;
    background-color: rgb(102, 129, 235);
    
}
.box-bot-foot .bottone a {
    color: white;
}
.box-bot-foot .bottone a i {
    padding-right: 10px;
}


.box-nero {
    width: 100%;
    background-color: black;
}
.contenitore-liste {
    width: 80%;
    margin: 0 auto;
    border-bottom: 1px solid rgb(102, 129, 235);
    padding-bottom: 10px;
}
.contenitore .liste {
    width: calc(100% / 5);
    margin-top: 60px;
   
}

h3 {
    font-size: 25px;
    color: rgb(102, 129, 235);
}
.liste img {
    width: 30px;
    height: 20px;
    margin-right: 10px;
    
}
.lingua {
    padding-top: 20px;
    padding-bottom: 20px;
}
.icone i {
    margin-right: 20px;
    font-size: 30px;
}
.liste ul li:first-child  a{
    color: rgb(102, 129, 235);
}
.liste ul {
    list-style: none;
}
.liste ul li {
    padding-bottom: 15px;
}
.logo-foot {
    width: 80%;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 60px; 
}
.bottone-piccolo {
    width: auto;
    background-color: rgb(102, 129, 235);
    padding: 10px 15px;
    border-radius: 20px;
    margin-top: 40px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 15px;